
body {
  width: 600px;
  height: 400px;
  margin: 0;
}

#Settings{
  float: left;
  display: block;
  width: 50%;
  border: none;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

#Notifications {
  float: right;
  display: block;
  width: 50%;
  border: none;
  /* background-color: #99eedf; */
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.fontSettings #fontSettingsBtn{
  display: block;
  width: 100%;
  border: none;
  background-color: #04AA6D;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.fontFamiliesSection{
  padding: 10px 20px 10px 20px;
}

.green{
  background-color: #04AA6D;
  color: white;
}

.white{
  background-color: white;
  color: #04AA6D;
}

.thresholds #thresholdsBtn{
  display: block;
  width: 100%;
  border: none;
  background-color: #04AA6D;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.wordCountSection{
  padding: 10px 20px 10px 20px;
}

.wordCountTitle{
  font-weight: bold;
  font-size: large;
}

.pageCountSection{
  padding: 10px 20px 10px 20px;
}

.pageCountTitle{
  font-weight: bold;
  font-size: large;
}

.counter.counter-lg {
  top: -24px !important;
}
